.dashboard{
  padding: 20px 40px;
}

header{
  display: flex;
  flex-direction: column;
  margin-bottom:35px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.card .about {
  margin-bottom: 8px;
    font-size: 16px;
  color: #57667c;
}

.card small{
  color: #57667c;
  font-size: 14px;
}

.number {
  font-size: 28px;
  font-weight: 600;
  margin-bottom:8px;
}

.status.operational {
  font-weight: 500;
  font-size: 30px;
} 

.dashboard .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.dashboard-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}
