<div class="dashboard">
  <header>
    <p class="title">Dashboard</p>
    <small>Overview of your certificate management system</small>
  </header>

  <div class="stats">
    <div class="card">
      <p class="about">Total Certificates</p>
      <p class="number">{{ totalCertificates }}</p>
    </div>

    <div class="card">
      <p class="about">Active Certificates</p>
      <p class="number">{{ activeCertificates }}</p>
    </div>

    <div class="card">
      <p class="about">Files Signed</p>
      <p class="number">{{ totalFilesSigned }}</p>
    </div>

    <div class="card">
      <p class="about">System Status</p>
      <p class="status operational">{{ systemStatus }}</p>
    </div>
  </div>

  <div class="dashboard-container">
    <app-recent-activity></app-recent-activity>
    <app-certficate-expiry></app-certficate-expiry>
  </div>
</div>
