<div class="dashboard">
  <header>
    <p class="title">Dashboard</p>
    <small>Overview of your certificate management system</small>
  </header>

  <div class="stats">
    <div class="card">
      <p class="about">Total Certificates</p>
      <p class="number">12</p>
      <small>+2 this month</small>
    </div>
    <div class="card">
      <p class="about">Active Certificates</p>
      <p class="number">10</p>
      <small>83% of total</small>
    </div>
    <div class="card">
      <p class="about">Files Signed</p>
      <p class="number">248</p>
      <small>+48 this week</small>
    </div>
    <div class="card">
      <p class="about">System Status</p>
      <p class="status operational">Operational</p>
    </div>
  </div>

  <div class="dashboard-container">
    <app-recent-activity></app-recent-activity>
    <app-certficate-expiry></app-certficate-expiry>
  </div>


</div>


