<div class="card">
    <div class="logo">
        <div class="icon">
            <lucide-icon name="NotebookPen"></lucide-icon>
        </div>
        <div>
            <h2 class="card-title">File Signing Form</h2>
        </div>
    </div>

    <p class="subtitle">Select a file and certificate to create a digitally signed file</p>

    <form>
        <div class="form-group">
            <label for="file">Select File</label>
            <input type="file" id="file" />
        </div>

        <div class="custom-select">
            <div class="selected">Choose a certificate</div>
            <div class="options">
                <div class="option">
                    <div class="icon">
                        <lucide-icon name="Shield" [size]="16" color="green"></lucide-icon>
                    </div>
                    <div class="text">
                        Production SSL
                    </div>
                </div>

                <div class="option">
                    <div class="icon">
                        <lucide-icon name="Shield" [size]="16" class="shieldIcon"></lucide-icon>
                    </div>
                    <div class="text">
                        Development Signing
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn-primary">Sign File</button>
    </form>
</div>