<div>
    <div class="sidebar">
        <div class="logo">
            <div class="icon">
                <lucide-icon name="shield"></lucide-icon>
            </div>
            <div>
                <h3>Cart Manager</h3>
                <small>Code Signing</small>
            </div>
        </div>
        <nav>
            <a routerLink="/" routerLinkActive="active">Dashboard</a>
            <a routerLink="/certificates" routerLinkActive="active">Certificates</a>
            <a routerLink="/sign-files" routerLinkActive="active">Sign Files</a>
            <a routerLink="/signed-files" routerLinkActive="active">Signed Files</a>
        </nav>
    </div>

</div>